.sidebarFriend {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sidebarFriendImage {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
