.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.loginWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.loginTop {
    height: 10%;
    width: 100%;
    text-align: center;
    color: rgb(6, 63, 221);
}

.loginLogo {
    font-size: 3.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.loginCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 5%;
    margin: 5%;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginInput {
    background: none;
    padding: 5px;
    font-size: 1.3em;
    margin: .5em;
    width: 100%;
    color: black;
    border-radius: 10px;
}

.loginInput:focus {
    outline: none;
}

.loginSeparator {
    height: 2px;
    width: 100%;
    background-color: rgb(2, 30, 139);
    margin: 15px;
}

.logButton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    padding-top: 5px;
    background-color: white;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.logButton:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.loginBottom {
    height: 15%;
    width: 100%;
    text-align: center;
    background-color: rgb(6, 63, 221);
    color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}