.list {
  list-style: none;
  margin: 0;
  padding-inline: 1em;
  width: 100%;
}
.list.horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}
.list.horizontal > li {
  flex: 1;
}
.list > li {
  padding: 0.5em 0;
  position: relative;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.list > li:hover,
.list > li:focus,
.list > li:focus-within {
  background: #0003;
  color: #ddd;
}
.list > li::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 80%;
  transform: translateX(-50%);
  left: 50%;
  border-top: 1px solid #fff7;
  height: 1px;
  transition: all 0.5s ease;
}
.list > li:hover::after,
.list > li:focus::after,
.list > li:focus-within::after {
  width: 100%;
}
.list > li > a {
  color: inherit;
}
