.rightbar {
  flex: 3.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;
  top: 80px;
}

.rightbarWrapper {
  padding: 20px 20px 0 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.birthdayText {
  font-weight: 300;
  font-size: 15px;
}

.rightbarAd {
  width: 100%;
  border-radius: 10px;
  margin: 30px 0;
}

.rightbarTitle {
  margin-bottom: 20px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}

.rightbarInfoItem {
  margin-bottom: 10px;
}

.rightbarInfoKey {
  font-weight: 500;
  margin-right: 15px;
  /* color: #555; */
  color: whitesmoke;
}

.rightbarInfoValue {
  font-weight: 300;
}

.rightbarFollowings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rightbarFollowing {
  display: flex;
  flex-direction: column;
}

.rightbarFollowingImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.rightbarFollowButton {
  margin-top: 30px;
  margin-bottom: 10px;
  border: none;
  background-color: #1872f2;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
}

.rightbarFollowButton:focus {
  outline: none;
}
